.circle {
   
    border: 5px solid #fff;
    color: #fff;
    width:  160px;
    height: 160px;
    font: 19.2px Arial, sans-serif;
    
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
  }

  @media (min-width: 600px) {
    .only-lg-white {
      color: white !important;
    }
  }